!!! 5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8" }  
    
    %title Babel Fett    
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }    
    %script{ :type => "text/javascript", :src => "/jquery.inlineformlabels.js" }    
    %link{ :href => "/main.css", :rel => "stylesheet", :type => "text/css" }    
    
  %body  
    #container
      %h1 Unsupervised Language Detection on Twitter    
      = yield
      
  %footer
    %p 
      %strong How does this work?
      Learn more at <a href = "http://blog.echen.me/2011/05/05/twss-building-a-thats-what-she-said-classifier/">here</a>. By <a href="http://echen.me">Edwin Chen</a>.